@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Dark variant */
@custom-variant dark (&:is(.dark *));

/* ================= THEME ================= */
@theme {
  --color-background: #ffffff;
  --color-foreground: #0f0f0f;

  --color-primary: #111111;
  --color-secondary: #d4af37;
   --color-hover:#bc9b2d;

  --color-card: #f5f5f5;
  --color-muted: #e6e6e6;

  --font-sans: "Montserrat", sans-serif;
  --radius: 14px;
}

.dark {
  --color-background: #0f0f0f;
  --color-foreground: #ffffff;

  --color-primary: #ffffff;
  --color-secondary: #d4af37;
  --color-hover:#bc9b2d;

  --color-card: #191919;
  --color-muted: #2a2a2a;
}

/* ================= BASE ================= */
@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-background text-foreground transition-colors duration-300;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.float-animation {
  animation: float 4s ease-in-out infinite;
}